/* Removes margin and add background to body */
body {
    margin: 0;
    background-color: #333333;
}
/* Center the app in body */
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/* Add field size (needs to be an square) and add borders and background.
Position needs to be relative due snake component */
.snake_board {
    width: 600px;
    height: 600px;
    position: relative;
    border: 2px solid #4E5442;
    background-color: #A4D5B2;
}

/* Draw an hypothetical snake */
.snake_body_part {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #2a301f;
    border-radius: 4px;
    border: 1px solid #A4D5B2;
}
/* Draw an hypothetical snake food and add some animations */
.snake_food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #FF1654;
    border-radius: 4px;
    border: 1px solid #A4D5B2;
    animation: blink .9s linear infinite;
}
/* Blink animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}
